h2{
  font-color:#1F618D;
  font-size:50px;
  text-align:center;
font-style:oblique;
}
body{
  background-color:#A3E4D7;
 border-style:solid;
  border-width:medium;
  border-color:#A93226;
border-radius:5px;
  font-size:25px;
}